body {
    width: 100vw;
}
.container {
    width: 80%;
    margin: 1rem auto auto;
}
.inline {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inline .input {
    width: 49%;
}

button {
    width: 100%;
}